@model PhotoShare.Models.Photo

@{
    ViewData["Title"] = "Delete";

    string imageUrl = Url.Content("/photos/" + Model.ImageFilename);
}

<h1>Delete Photo</h1>

<h3>Are you sure you want to delete this?</h3>

<hr />

<div class="row">
    <div class="col-md-3">
        <img src="@imageUrl" alt="@Model.Description" class="img-fluid" />
    </div>
</div>

<br />
    
<form asp-action="Delete">
    <input type="hidden" asp-for="PhotoId" />
    <input type="submit" value="Delete" class="btn btn-danger" /> |
    <a asp-action="Index">Back to List</a>
</form>
